
.Mastercontainer {
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.upContainer {
	padding: 32px;
	width: 700px;
	background: white;
	border-radius: 5%;
}
.upContainer input {
	padding: 16px;
	outline: none;
	border: gainsboro 1px solid;
	margin-top: 48px;
	font-size: 1.2em;
	width: 100%;
	text-align: start;
}
#checkbox {
	width: 8%;
}